* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
      font-size:30px;
      text-align: center;

  }
  .display {
    margin: 5% 15%;
    width:50rem;
    height:30rem;
    background-color: aqua;
   
  }
  input {
    width: 200px;
    height: 35px;;
  }
  button {
      height: 35px;
      width: 50px;
      margin-top: 5px;
  }